<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
<h1>Корзина</h1>
<hr>
<table>
    <thead>
        <tr>
            <th>Предмет</th>
            <th>Кол-во</th>
            <th>Цена за штуку</th>
            <th>Cтоимость</th>
        </tr>
    </thead>
<tbody>
{% for item in cart %}
{% with product=item.product %}
<tr>
    <td><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.price }} руб.</td>
    <td>{{ item.total_price }} руб.</td>
    <td>
        <form action="{% url 'cart:cart_remove' product.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Удалить</button>
        </form>
    </td>
</tr>
{% endwith %}
{% endfor %}
<tr>
    <td colspan="5">Стоимость: {{ cart.get_total_price }} руб</td>
</tr>
<tr>
    <td colspan="5">Скидка: {{ cart.get_discount }} руб</td>
</tr>
<tr>
    <td colspan="5">Итого к оплате: {{ cart.get_total_price_with_discount }} руб</td>
</tr>
<tr>
    <td colspan="5">
    <form action="{% url 'coupons:coupon_apply' %}" method="post">
        {{ coupon_form.as_p }}
        {% csrf_token %}
        <button type="submit">Применить</button>
    </form>
    <hr>
</tr>
</tbody>
</table>
<div>
    <form action="{% url 'cart:cart_clear' %}" method="post">
        {% csrf_token %}
        <button type="submit">Очистить корзину</button>
    </form>
</div>
<div>
    <hr>
    <form action="{% url 'orders:order_create' %}" method="get">
        {% csrf_token %}
        <button type="submit">Оформить заказ</button>
    </form>
</div>
</body>
</html>