<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Войти</button>
</form>
<hr>
<div>
    <a href="{% url 'accounts:register_view' %}"><button>Перейти к регистрации</button></a>
</div>
<div>
    <div><a href="{% url 'social:begin' 'vk-oauth2' %}">Войти черeз VK</a></div>

    <script async src="https://telegram.org/js/telegram-widget.js?7"
        data-telegram-login="TuhesDjangoBot"
        data-size="large"
        data-userpic="false"
        data-auth-url="https://c863-138-124-92-46.ngrok-free.app/accounts/login/telegram/complete/"
        data-request-access="write">
    </script>

</div>
</body>
</html>