<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль {{ user.username }}</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <h2>Профиль {{ user.username }}</h2>
            </td>
        </tr>
        <tr>
            <td><b>Username:</b></td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td><b>Номер телефона:</b></td>
            <td>{{ user.profile.tel }}</td>
        </tr>
        <tr>
            <td><b>Дата рождения:</b></td>
            <td>{{ user.profile.birth_date }}</td>
        </tr>
        <tr>
            <td><b>Дата присоединения:</b></td>
            <td>{{ user.date_joined }}</td>
        </tr>
    </table>
    <hr>
    <form action="{% url 'accounts:logout_view' %}" method="post">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
</body>
</html>