{% extends "base.html" %}

{% block title %}Товары{% endblock %}

{% block content %}
    <div>
    {% if user.is_authenticated %}
        <p>{{ user.username }}, Вы авторизованы</p>
    {% endif %}
    </div>
    {% for item in items %}
        <div>
            <a href="{{ item.get_absolute_url }}"><h1>{{ item.name }}</h1></a>
            <p>{{ item.price }} руб.</p>
        </div>
    {% endfor %}
    <hr>
    <div>
        <h3>10 Самых популярных товаров</h3>
        <ul>
            {% for i in items_top %}
                <li>
                    <a href="{{ i.get_absolute_url }}">{{ i.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}